@import "./authentication.css";
@import "./books.css";
@import "./add-form.css";
@import "./admin-table.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#auth-form #error, #add-form #error{
  color: red;
  height: 30px;
  margin: 10px 0 -35px;
}

#btn {
    width: 100%;
    padding: 12px 0;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    margin-top: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn:hover {
    background-color: #16a085;
}


#create a:hover,
#container a:hover {
    text-decoration: underline;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* position: absolute; */
    top: 0;
    padding: 0 80px;
    background: linear-gradient(135deg, #1abc9c, #16a085);
    color: white;
    position: relative;
}

#header #currentuser {
    font-size: 24px;
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 25px 0;
}

#header #currentuser div {
    display: flex;
    gap: 10px;
    align-items: center;
}

#header #currentuser p  {
    cursor: pointer;
    font-weight: bold;
}

#logout-btn {
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    background-color: rgb(255 43 43);
    cursor: pointer;
}


.msg {
    color: red;
    margin-left: 35px;
    font-weight: bold;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    margin: 40px 0;
}

.options div select {
    padding: 10px;
    outline: none;
    margin-right: 20px;
}


.search {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#input {
    height: 50px;
    width: 60%;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    background-color: #efefef;
    border: 1px solid rgb(155 155 155);
    border-radius: 60px;
}

#search-btn {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: #17A489;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#nav-bar {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 30px;
    bottom: 10px;
    left: 25%;
    margin-top: 60px;
    margin-bottom: 8px;
}

#nav-bar .nav-options {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

#nav-bar .nav-options a {
    color: white;
    text-decoration: none;
}

#nav-bar .nav-options:hover {
    border-bottom: 2px solid white;
}




#add-btn{
  border: none;
    outline: none;
    width: 130px;
    height: 35px;
    padding-top: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80%;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background-color: #16A085;
    cursor: pointer;
}



#btns {
    display: flex;
    justify-content: space-between;
}

#btns button,
a {
    width: 70px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}

#btns a {
    padding-top: 7px;
    font-size: 14px;
}

#edit-btn {
    background-color: #437af3;
}

#delete-btn {
    background-color: #e74c3c;
}



#loading {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    border: 6px solid #b4b4b4;
    border-right: 6px solid #16A387;
    border-radius: 100%;
    animation: loading 0.8s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#back-icon{
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-start;
  margin: 20px 0 10px 30px;
}

#back-icon img{
  width: 30px;
  margin-right: 8px;
}

.error-img{
  width: 20px;
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}


#auth-form #validate-popup, #add-container #add-form #validate-popup{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 47%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  color: #444;
  right: 16%;
  top: 40%;
}

#add-container #add-form #validate-popup{
  top : 33%;
  right: 18%;
}

#auth-form .hidden, #add-container #add-form .hidden{
  display: none;
}

#auth-form .view-img, #add-form .view-img{
  cursor: pointer;
  width: 20px;
}
