#main {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1abc9c, #16a085);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

#container {
    width: 500px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 12px;
    padding: 40px 30px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container h2 {
    font-size: 26px;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 25px;
    text-align: center;
}

#auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    position: relative;
}

#auth-form div {
    display: grid;
    grid-template-columns: 140px 1fr 30px 30px;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

#auth-form div input {
    width: 100%;
    padding: 10px 12px;
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}


#container p {
    font-size: 14px;
    color: #7f8c8d;
    text-align: center;
    margin-top: 15px;
}


#container a {
    color: #1abc9c;
    text-decoration: none;
    font-weight: 500;
}
