
#books {
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 10px 60px;
    flex-wrap: wrap;
}

.book {
    width: 200px;
    max-height: 438px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
    transition: 0.3s;
    cursor: pointer;
}

.book:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

.book .detail {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.book p.title {
    margin: 8px 0 4px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    box-sizing: border-box;
}

.book p.subtitle {
    margin: 0 0 8px;
    font-size: 12px;
    color: #555;
    width: 100%;
    line-height: 1.3em;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

#borrow-btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
}

#borrow-btn:hover {
    background-color: #16a085;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.book-popup {
    background: white;
    border-radius: 16px;
    width: 800px;
    max-height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    animation: fadeIn 0.3s ease-in;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.book-popup .temp{
  display: flex;
  padding: 30px;
  gap: 30px;
}

.book-popup img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.book-details {
    flex: 1;
    line-height: 25px;
}

.description {
    color: #555;
    line-height: 1.6;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: #2c3e50;
}

#borrowed-by{
  position: absolute;
  bottom: 10px;
  right: 25px;
  color: rgb(42 42 224);
  cursor: pointer;
}



