<div>
    UserName :
    <input type="text" id="username">
</div>
<div>
    Email :
    <input type="text" id="email">
</div>
<div>
    Password :
    <input type="password" id="password">
</div>
<div>
    Mobile Number :
    <input type="number" id="mobile">
</div>