<div id="container">
    <h2>Library SignIn</h2>
    <form id="loginForm">
        <div>
            Email :
            <input type="text" id="input">
        </div>
        <div>
            Password :
            <input type="password" id="password">
        </div>
        <input type="button" id="btn" value="Login">
    </form>
</div>