<div>
    <select id="" {{on "change" this.borrowedBooks}}>
        <option value="All">All</option>
        <option value="Borrowed">Borrowed</option>
    </select>

    Sort By :
    <select id="sort" {{on "change" this.sortBooks}}>
        <option value="Default">Default</option>
        <option value="None">None</option>
        <option value="Name">Name</option>
    </select>
</div>