<Authentication @heading="Create Account">
  <FormComponent @btn-value="Create Account" @id="auth-form" as |errorMsg f|>
    <CreateAccount
      @errorMsg={{errorMsg}}
      @f={{f}}
    />
  </FormComponent>
  <p>Already have an account?
    <LinkTo @route="login">Sign In</LinkTo>
  </p>
</Authentication>