<Authentication @heading="Library Login">
  <FormComponent @btn-value="Login" @id="auth-form" as |errorMsg f|>
    <div>
      Email :
      <input type="email" id="email" {{on 'input' (fn f.validateEmail "")}}>
      <img src="/images/error.png" alt="" class="error-img hidden" />
    </div>
    <div>
      Password :
      <input type="password" id="password" required>
      <img src="/images/hide.png" alt="" class="view-img" {{on 'click' f.changePasswordType}}>
    </div>
    <p id="error">{{errorMsg}}</p>
  </FormComponent>
  <p>Don't have an account?
    <LinkTo @route="create-account">Create Account</LinkTo>
  </p>
</Authentication>