<Authentication @heading="Library Login" as |handleSubmit errorMsg|>
  <FormComponent @btn-value="Login" @id="auth-form" @handleSubmit={{handleSubmit}}>
    <div>
      Email :
      <input type="email" id="email" required>
    </div>
    <div>
      Password :
      <input type="password" id="password" required>
    </div>
    {{#if errorMsg}}
    <p id="error">{{errorMsg}}</p>
    {{/if}}
  </FormComponent>
  <p>Don't have an account?
    <LinkTo @route="create-account">Create Account</LinkTo>
  </p>
</Authentication>