<FormComponent @heading="Library Login" @btn-value="Login">
    <:default>

        <div>
            Email :
            <input type="text" id="email">
        </div>
        <div>
            Password :
            <input type="password" id="password">
        </div>
    </:default>
    <:create>
        <p>Don't have an account? <LinkTo @route="create-account">Create Account</LinkTo>
        </p>
    </:create>

</FormComponent>